{
  "env": {
    "cjs": {
      "presets": [
        "babel-preset-env"
      ]
    },
    "esm": {
      "presets": [
        ["babel-preset-env", { "modules": false }]
      ]
    },
    "development": {
      "presets": [
        "babel-preset-env"
      ]
    },
    "test": {
      "presets": [
        "babel-preset-env"
      ]
    }
  }
}
